.buttons{
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 2.5em;
}

.buttons:hover{
    background-color: rgb(208, 142, 238);
}

#lowerPart{
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}